# vim: set ft=bash

source_up

# laod .env when exists which should be listed at .gitignore
test -f .env && source_env .env

# # which will allow to set these variables easily via direnv
# export TFH_token=xxxx
# export TFH_org=your-tf-cloud-org
# # workspace name
# export TFH_name=manage-org
# export TFC_OAUTH_CLIENT_ID=oc-xxx
